################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FoodFacility.Api/bin/Debug/
/src/FoodFacility.Api/obj/Debug/
/.vs/FoodFacility.Api/DesignTimeBuild
/src/FoodFacility.Infrastructure/bin/Debug/
/src/FoodFacility.Infrastructure/obj/Debug/
/src/FoodFacility.Domain/bin/Debug/
/src/FoodFacility.Domain/obj/Debug/
/src/FoodFacility.Application/bin/Debug/
/src/FoodFacility.Application/obj/Debug/
/.vs/FoodFacility.Api/v17
/tests/FoodFacility.Api.IntegrationTests/bin/Debug/
/tests/FoodFacility.Api.IntegrationTests/obj/Debug/
/tests/FoodFacility.Api.UnitTests/bin/Debug/
/tests/FoodFacility.Api.UnitTests/obj/Debug/
/tests/FoodFacility.Infrastructure.UnitTests/bin/Debug/
/tests/FoodFacility.Infrastructure.UnitTests/obj/Debug/
/tests/FoodFacility.Domain.UnitTests/bin/Debug/
/tests/FoodFacility.Domain.UnitTests/obj/Debug/
/tests/FoodFacility.Application.UnitTests/bin/Debug/
/tests/FoodFacility.Application.UnitTests/obj/Debug/
